


#instagram, #twitter   {
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.social-container {
    display: flex;
    justify-content: space-between;
}

#social {
    animation-delay: 0.8s;
}

.social-icons:hover {
    transform: scale(1.2); /* Increase size by 20% on hover */
    transition: transform 0.2s ease;
}

.social-icons:active {
    transform: scale(0.9);
}

#btns-home:hover, #btns-ch:hover {
   background-color: #8992328f;
   color: rgba(255, 255, 255, 0.729);
   transition: 0.5s ease;
   transform: scale(1.1);
}

#btn-patreon:hover  {
    background-color: #ff6955ad;
    color: rgba(255, 255, 255, 0.729);
    transition: 0.5s ease;
    transform: scale(1.1);
}

#btns-home:active, #btns-ch:active {
    background-color: #899232;
    color: rgb(255, 255, 255);
    transform: scale(0.9);
 }
 
 #btn-patreon:active  {
     background-color: #FF6855;
     color: rgb(255, 255, 255);
     transform: scale(0.9) translateY(-5px);
     
 }

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.fade-in {
    animation: opacityAnimation 1s ease-in-out forwards;
}

#header.fade-in {
    animation-delay: 0.2s;
}
#warning.fade-in {
    animation-delay: 0.4s;
}
#btns-home.fade-in {
    animation-delay: 0.6s;
}
#btn-patreon.fade-in {
    animation-delay: 0.8s;
}


#home {
    text-align: center;
  }

#btns-home, #btns-ch {
    background-color: #899232;
}

#btn-patreon {
    background-color: #FF6855;
}

#btns-home, #btn-patreon, #btns-ch    {
    font-weight: bold;
    border: none;
    transition: background-color 0.5s ease;
    transition: transform 0.2s ease-in-out;
}

#home .fade-in {
    opacity: 0; /* Initially hide the elements */
}

.button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    flex-direction: column;
  }

body {
    background-color: #121212;
}

/* For desktop screens (generally wider than 768px) */
@media (min-width: 768px) {

    .col-md-4:nth-child(2)   {
        display: flex;
        justify-content: center;
    }

    #btns-ch    {
        margin: 1vw;
    }
    
    #ch1-container  {
        text-align: center;
        flex-wrap: wrap;
    }

    .carousel-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain; /* Ensures the image is contained within the specified dimensions */
        max-width: 86%; /* Adjust the percentage as needed */
    }


    .social-container {
        margin: 0 46vw;
    }

    .col-md-12  {
        margin-top: 0.3%;
        margin-bottom: 0.3%;
    }

    #btns-home, #btns-ch { /* Target all buttons */
        padding: 1rem 2rem;
        min-width: 18vw;
        max-width:  18vw;
    }
    #btn-patreon {
        margin-bottom: 1vw;
        margin-top: 5vw;
    }
    #header {
        z-index: 1; /* Give a higher stacking order */
        height: 7vw;
    }
    
    #warning    {
        height: 14vw;
    }
  }
  


  /* For mobile screens (generally narrower than 768px) */
@media (max-width: 767px) {

    #ch1-container  {
        text-align: center;
        flex-wrap: wrap;
    }

    .carousel-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain; /* Ensures the image is contained within the specified dimensions */
        max-width: 86%; /* Adjust the percentage as needed */
    }

    .social-container {
        margin: 0 36vw;
    }

    .header-mobile {
        z-index: 1; /* Give a higher stacking order */
        height: 30vw;
    }
    
    .warning-mobile {
        height: 38vw;
        margin-bottom: 5vw;
    }

    #btns-home { /* Target all buttons */
        padding: 1rem 2rem;
        padding: 1rem 2rem;
        min-width: 60vw;
        max-width:  60vw;
    }

    #btns-ch    {
        padding: 0.5rem 1rem;
        padding: 0.5rem 1rem;
        min-width: 30vw;
        max-width:  30vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        display: inline-block;
    }

    #btn-patreon {
        margin-top: 10vw;
        margin-bottom: 1vw;
        padding: 1vw 3vw;

    }

    .col-md-12  {
        margin-top: 1%;
        margin-bottom: 1%;
    }
}