/* Keyframes for opacity animation */
@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply animation to specific elements */
.fade-in {
    animation: opacityAnimation 1s ease-in-out forwards;
}

#header.fade-in {
    animation-delay: 0.2s;
}
#warning.fade-in {
    animation-delay: 0.4s;
}
#btns-home.fade-in {
    animation-delay: 0.6s;
}
#btn-patreon.fade-in {
    animation-delay: 0.8s;
}


#home {
    text-align: center;
  }

#btns-home {
    background-color: #899232;
}

#btn-patreon {
    background-color: #FF6855;
}

#btns-home, #btn-patreon    {
    font-weight: bold;
    border: none;
}

#home .fade-in {
    opacity: 0; /* Initially hide the elements */
}

.button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    flex-direction: column;
  }

body {
    background-color: #121212;
}

/* For desktop screens (generally wider than 768px) */
@media (min-width: 768px) {
    .col-md-12  {
        margin-top: 0.3%;
        margin-bottom: 0.3%;
    }

    #btns-home { /* Target all buttons */
        padding: 1rem 2rem;
        min-width: 18vw;
        max-width:  18vw;
    }
    #btn-patreon {
        margin-bottom: 1vw;
        margin-top: 5vw;
    }
    #header {
        z-index: 1; /* Give a higher stacking order */
        height: 7vw;
    }
    
    #warning    {
        height: 14vw;
    }
  }
  


  /* For mobile screens (generally narrower than 768px) */
@media (max-width: 767px) {
    .header-mobile {
        z-index: 1; /* Give a higher stacking order */
        height: 30vw;
    }
    
    .warning-mobile {
        height: 38vw;
        margin-bottom: 5vw;
    }

    #btns-home { /* Target all buttons */
        padding: 1rem 2rem;
        padding: 1rem 2rem;
        min-width: 60vw;
        max-width:  60vw;
    }

    #btn-patreon {
        margin-top: 10vw;
        margin-bottom: 1vw;
        padding: 1vw 3vw;

    }

    .col-md-12  {
        margin-top: 1%;
        margin-bottom: 1%;
    }
}